{% extends 'layout.html' %}
{% block body %}
<div class="row">
    <div class="col-lg-8">
        <!-- Post content-->
        <article>
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1">{{article.title}}</h1>
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2">{{article.created_date}} tarixində {{article.author.username}} paylaşdı</div>
            </header>
            <!-- Preview image figure-->
            {% if article.article_image %}
            <figure class="mb-4"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt="..." /></figure>
            {% endif %}
            <!-- Post content-->
            <section class="mb-5">
                <p class="fs-5 mb-4">{{article.content | safe}}</p>
            </section>
        </article>
        <!-- Comments section-->
        <section class="mb-5">
            <div class="card bg-light">
                <div class="card-body">
                    <!-- Comment form-->
                    {% if request.user.is_authenticated %}
                    <form class="mb-4" action="{% url 'article:comment' article.id %}" method="post">
                        {%csrf_token%}
                    <input type="form-control" name="comment_content">
                    <button type="submit" class="btn btn-primary">Rey bildir</button>
                    </form>
                    {% else %}
                    <div class="alert alert-warning">
                        Rey bildirebilmek ucun giris edin!
                    </div>
                    {% endif %}
                    {% if comments %}
                        {% for comment in comments %}                    
                        <div class="d-flex">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                <div class="fw-bold">{{comment.comment_author}}</div>
                                {{comment.comment_content}}
                            </div>
                        </div>
                        <br>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-warning">
                            Ilk reyi sen bildir
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock body %}
